@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: theme('borderColor.DEFAULT', currentColor);
}

::before,
::after {
  --tw-content: '';
}

html {
  line-height: 1.5;
}

body {
  margin: 0;
  box-sizing: border-box;
  line-height: inherit;
}
